body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    background-color: #2c3e50;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

header .logo h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.thank-you-container {
    padding: 2rem;
    max-width: 600px;
    margin: 8.3rem auto 2rem auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.thank-you-container:hover {
    transform: scale(1.02);
}

.thank-you-container h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.thank-you-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 2rem;
}

.home-btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: rgb(40, 93, 110);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-btn:hover {
    background-color: #3f576f;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2c3e50;
    color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 9.9rem;
}